  body {
    padding: 10px;
    background-color: #f8f8f8;
  }
  .container {
    margin: auto;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
label {
    font-weight: bold;
}
input[type="text"] {
    width: 20%;
    padding: 6px;
    font-size: 14px;
    margin-right: 5px;
}
button {
    padding: 6px 10px;
    border: none;
    background-color: #3b3b3b;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #797979;
}

.input_box {
  text-align: center;
}
table {
    border-collapse: collapse;
    margin-top: 15px;
    text-align: center;
}
th, td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    font-size: 13px;
    text-align: center;
}
th {
    background-color: #898989;
    color: white;
}
tr:nth-child(even){background-color: #f9f9f9;}
tr:hover {background-color: #f1f1f1;}
.no-results {
    text-align: center;
    color: #777;
    margin-top: 10px;
}
.top-link {
    position: absolute; /* ページ右上に固定 */
    top: 10px;
    right: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #007bff;
    background: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}
.blue-link {
    position: absolute; /* ページ右上に固定 */
    top: 10px;
    right: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #007bff;
    background: #f0f0f0;
    padding: 4px 8px;
    border-radius: 4px;
}
.blue-link:hover {
    background: #007bff;
    color: white;
}

#result{
  place-items: center;
}
  @media (max-width: 400px) {
    input[type="text"] {
      width: 60%;
    }
    table th, table td {
      padding: 4px;
    }
  }